.container {
  margin-top: 1px;
  background-color: var(--header_bg);
  overflow: hidden;

  .mainSection {
    .imgSection {
      img {
        width: 100%;
        position: relative;
        top: -165px;
      }
    }
  }

  .mainInfo {
    padding: 60px 80px;
    position: absolute;
    top: 135px;
    width: 1285px;

    .textInfo {
      .info {
        margin-bottom: 60px;
        span {
          font-weight: 700;
          font-size: 80px;
          color: var(--white_900);
        }
      }

      .textAndButtonSection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
          width: 555px;
          span {
            font-weight: 400;
            font-size: 26px;
            color: var(--white_900);
          }
        }
        .button {
          span {
            padding: 17px 80px;
            color: var(--header_bg);
            box-shadow: var(--box_shadow_button);
            background-color: var(--button_bg);
            border-radius: 5px;
            font-size: 36px;
            color: var(--white_900);
          }
        }
      }
    }
  }
}
